.u-center-text {
  text-align: center !important;
}
.u-just-text {
  text-align: justify;
}

.u-margin-bottom-small {
  margin-bottom: 5rem;

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-med {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: 18rem !important;

  @include respond(tab-port) {
    margin-bottom: 15rem !important;
  }
}

.u-margin-top-small {
  margin-top: 5rem !important;
}
.u-margin-top-med {
  margin-top: 10rem !important;
}
