.section-welcome {
  padding: 15rem 5rem;
  position: relative;

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-welcome-quote {
  padding: 15rem 10rem;
  width: 100%;

  @include respond(tab-port) {
    padding: 10rem 2.5rem 5rem 2.5rem;
  }
}

.section-primary {
  padding: 15rem 10rem;
  position: relative;
  margin-top: -10rem;

  @include respond(tab-port) {
    margin-top: -10rem;
    padding: 10rem 5rem;
  }
}

.primary__box-a {
  padding: 2.5rem;
  background-color: rgba(var(--color-secondary), 0.9);
}
.primary__box-b {
  padding: 1.5rem;
  margin-top: 2.5rem;
  border-left: solid 3px rgba(var(--color-secondary), 0.9);
}

.section-features {
  padding: 20rem 5rem;
  margin: 0 auto;

  background-image: linear-gradient(
      to right bottom,
      rgba(var(--color-secondary), 0.8) 38.3%,
      rgba(var(--color-primary-light), 0.6)
    ),
    url(../resources/img/Details/627A1957.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
.section-steps {
  padding: 15rem 0 30rem 0;
  background: linear-gradient(
    290deg,
    rgba(var(--color-secondary), 0.8) 43.33%,
    rgba(var(--grey-light), 0.5) 0%,
    transparent 50%
  );
}

.section-services-a {
  padding: 15rem 10rem;
  background: linear-gradient(
    90deg,
    rgba(var(--color-secondary), 0.8) 47%,
    rgba(var(--grey-light), 0.3) 0%,
    transparent 50%
  );
  margin: 0 1rem;

  @include respond(tab-port) {
    padding: 12rem 5rem;
  }
}

.section-services-b {
  padding: 20rem 10rem;
  margin: 1rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(var(--color-primary-light), 0.5) 47%,
    rgba(var(--grey-light), 0.3) 0%,
    transparent 50%
  );

  position: relative;
  @include respond(tab-port) {
    padding: 12rem 5rem;
  }
}

.section-book {
  padding: 15rem 2rem;
}

.book {
  background-image: linear-gradient(
      90deg,
      rgba(var(--color-secondary), 0.9) 0%,
      rgba(var(--color-secondary), 0.9) 50%,
      transparent 50%
    ),
    url(../resources/img/location/vineyard-1.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: var(--shadow-light);

  @include respond(tab-land) {
    background-image: linear-gradient(
        90deg,
        rgba(var(--color-secondary), 0.9) 0%,
        rgba(var(--color-secondary), 0.9) 65%,
        transparent 65%
      ),
      url(../resources/img/location/vineyard-1.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba(var(--color-secondary), 0.9) 0%,
        rgba(var(--color-secondary), 0.9) 100%,
        transparent 65%
      ),
      url(../resources/img/location/vineyard-1.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    &-header {
      font-size: 2.8rem;
      margin: 0 0 2rem 1rem;
    }
  }
}

.section-new {
  background-image: linear-gradient(
      to right bottom,
      rgba(var(--color-white), 0.8) 38.3%,
      rgba(var(--color-primary), 0.5)
    ),
    url(../resources/img/Details/627A9887.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 10rem 0 10rem 0;
}
