.section-welcome {
  padding: 15rem 5rem;
  position: relative;

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-welcome-quote {
  padding: 15rem 10rem;
  width: 100%;

  @include respond(tab-port) {
    padding: 10rem 2.5rem 5rem 2.5rem;
  }
}

.section-primary {
  padding: 15rem 10rem;
  position: relative;
  margin-top: -10rem;

  @include respond(tab-port) {
    margin-top: -10rem;
    padding: 10rem 5rem;
  }
}

.primary__box-a {
  padding: 2.5rem;
  background-color: rgba(var(--color-secondary), 0.9);
}
.primary__box-b {
  padding: 1.5rem;
  margin-top: 2.5rem;
  border-left: solid 3px rgba(var(--color-secondary), 0.9);
}

.section-features {
  padding: 20rem 5rem;
  margin: 0 auto;

  background-image: linear-gradient(
      to right bottom,
      rgba(var(--color-secondary), 0.8) 38.3%,
      rgba(var(--color-primary-light), 0.6)
    ),
    url(../resources/img/Details/627A1957.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
.section-steps {
  padding: 15rem 0 30rem 0;
  background: linear-gradient(
    290deg,
    rgba(var(--color-secondary), 0.8) 43.33%,
    rgba(var(--grey-light), 0.5) 0%,
    transparent 50%
  );
}

.section-services-a {
  padding: 15rem 10rem;
  background: linear-gradient(
    90deg,
    rgba(var(--color-secondary), 0.8) 47%,
    rgba(var(--grey-light), 0.3) 0%,
    transparent 50%
  );
  margin: 0 1rem;

  @include respond(tab-port) {
    padding: 12rem 5rem;
  }
}

.section-services-b {
  padding: 20rem 10rem;
  margin: 1rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(var(--color-primary-light), 0.5) 47%,
    rgba(var(--grey-light), 0.3) 0%,
    transparent 50%
  );

  position: relative;
  @include respond(tab-port) {
    padding: 12rem 5rem;
  }
}

// .section-book {
//   padding: 15rem 2rem;
// }

// .book {
//   background-image: linear-gradient(
//       90deg,
//       rgba(var(--color-secondary), 0.9) 0%,
//       rgba(var(--color-secondary), 0.9) 50%,
//       transparent 50%
//     ),
//     url(../resources/img/location/vineyard-1.jpg);
//   background-size: 100%;
//   border-radius: 3px;
//   box-shadow: var(--shadow-light);

//   @include respond(tab-land) {
//     background-image: linear-gradient(
//         90deg,
//         rgba(var(--color-secondary), 0.9) 0%,
//         rgba(var(--color-secondary), 0.9) 65%,
//         transparent 65%
//       ),
//       url(../resources/img/location/vineyard-1.jpg);
//     background-size: cover;
//   }

//   @include respond(tab-port) {
//     background-image: linear-gradient(
//         to right,
//         rgba(var(--color-secondary), 0.9) 0%,
//         rgba(var(--color-secondary), 0.9) 100%,
//         transparent 65%
//       ),
//       url(../resources/img/location/vineyard-1.jpg);
//   }

//   &__form {
//     width: 50%;
//     padding: 6rem;

//     @include respond(tab-land) {
//       width: 65%;
//     }

//     @include respond(tab-port) {
//       width: 100%;
//     }

//     &-header {
//       font-size: 2.8rem;
//       margin: 0 0 2rem 1rem;
//     }
//   }
// }

.section-new {
  background-image: linear-gradient(
      to right bottom,
      rgba(var(--color-white), 0.8) 38.3%,
      rgba(var(--color-primary), 0.5)
    ),
    url(../resources/img/Details/627A9887.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 10rem 0 10rem 0;
}

.section-book {
  padding: 15rem 0;
  width: 100%;
  background-color: rgb(248, 225, 194);
}

.book__form {
  margin: 0 auto;
  width: 60%;

  @include respond(tab-port) {
    width: 100%;
  }
}

.form {
  width: 100%;

  &__group:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    background-color: rgba(var(--color-white), 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    transition: all 0.3s;
    border-radius: 5px;
    display: block;
  }

  &__label {
    font-size: 2rem;
    //margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
  }

  &__group-option {
    width: 99%;
    //margin-left: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-family: inherit;
    color: inherit;
    display: block;
  }

  &__book-btn,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3.5rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 3rem;
    background-color: rgba(var(--color-white), 0.9);
    color: black;

    @include respond(tab-port) {
      padding: 1.2rem 3rem;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &::after {
      background-color: #fff;
    }

    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  }
}

// .contact-form {
//   width: 60%;
//   margin: 0 auto;

//   @include respond(tab-port) {
//     width: 100%;
//   }

//   .form__tag {
//     font-size: 2rem;
//     width: 100%;

//     @include respond(tab-port) {
//       width: 100%;
//     }
//   }

//   .form__inside {
//     border-bottom: 3px solid transparent;
//     width: 100%;
//     padding: 1.5rem 2rem;
//     border-radius: 2px;
//     border: 1px solid #ccc;
//     display: block;
//     transition: all 0.3s;
//     border-radius: 5px;
//     margin: 0.9rem;

//     &:focus {
//       outline: none;
//       box-shadow: var(--shadow-light);
//       border-bottom: 3px solid rgba(var(--color-primary), 0.9);
//     }

//     &:focus:invalid {
//       border-bottom: 3px solid rgb(255, 110, 110);
//     }

//     @include respond(tab-port) {
//       margin: 1.9rem 0;
//     }
//   }

//   .form__option {
//     width: 100%;
//     color: inherit;
//     font-family: inherit;
//     padding: 1.5rem 2rem;
//     margin: 2% 2%;
//     border: 1px solid #ccc;

//     &:focus {
//       outline: none;
//       box-shadow: var(--shadow-light);
//       border-bottom: 3px solid rgba(var(--color-primary), 0.9);
//     }

//     @include respond(tab-port) {
//       margin-left: 0%;
//     }
//   }

//     .form__textarea {
//       height: 100px;
//       width: 100%;
//       padding: 7px;
//       border-radius: 3px;
//       border: 1px solid #ccc;
//       margin: 3% 2%;

//       &:focus {
//         outline: none;
//         box-shadow: var(--shadow-light);
//         border-bottom: 3px solid rgba(var(--color-primary), 0.9);
//       }

//       @include respond(tab-port) {
//         margin-left: 0%;
//       }
//   }
//   .form__btn {
//     width: 50%;
//     margin:0 auto;

//     @include respond(tab-port) {
//       display: block;
//       width: 40%;
//     }

//   }

// }
