.section-wedding {
  position: relative;
}

.wedding-header,
.family-header {
  font: bold 3.7em/1 'Playfair Display', serif;
  padding-right: 1rem;
  margin-bottom: 2.5rem;

  @include respond(tab-port) {
    padding-right: 0;
  }

  @include respond(phone) {
    font-size: 3.3em;
  }

  span {
    font-size: 9rem;
    font-family: bold cursive;
    color: rgba(var(--color-primary), 0.7);
    padding: 1.2rem 0.5rem 1rem 0.5rem;

    @include respond(tab-port) {
      color: rgba(var(--color-secondary), 0.9);
    }
  }
}

.wedding__container {
  position: relative;
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 0 5rem;

  @include respond(tab-port) {
    margin: 0 3rem;
  }

  @include respond(phone) {
    margin: 0;
  }

  li {
    display: block;
    float: left;
    width: 40%;
    padding-top: 1rem;
    padding-left: 2rem;

    @include respond(tab-port) {
      width: 50%;
      padding: 1rem 2rem 0 0;
    }

    @include respond(phone) {
      padding-right: 1rem;
    }
  }

  li:nth-child(3n-1) {
    padding-left: 3rem;
    padding-top: 1rem;
    width: 44%;
    //float: right;
    @include respond(tab-port) {
      width: 50%;
      padding-bottom: 2rem;
      padding-left: 1rem;
    }
  }

  li:last-child {
    padding-left: 3rem;
    width: 44%;

    @include respond(tab-port) {
      padding: 0;
      width: 50%;
      float: right;
    }
  }
}

.wedding-photo {
  width: 100%;
  overflow: hidden;

  img {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.4s;
    margin: 0;
    opacity: 0.9;
  }
}

.wedding-photo img:hover {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: var(--shadow-light);
}

.section-family {
  position: relative;
}

.family__container {
  position: relative;
  list-style: none;
  display: inline-block;
  width: 100%;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;

    &:hover {
      box-shadow: var(--shadow-light);
      border: rgba(var(--color-secondary), 0.9);
    }
  }

  li {
    float: right;
    width: 45%;
    padding: 0.5rem;
    display: block;
    z-index: 10;

    @include respond(tab-port) {
      padding: 0.5rem;
      width: 55%;
      position: absolute;
      z-index: 10;
      float: left;
    }
  }

  li:first-child {
    left: 30rem;

    @include respond(phone) {
      left: 18rem;
      bottom: 2rem;
    }
  }

  li:last-child {
    width: 55%;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    z-index: 0;

    @include respond(tab-port) {
      padding-right: 3rem;
      width: 80%;
    }
  }
}
