:root {
  // COLOR VARIABLES
  --color-primary: 173, 220, 226; // #a0dee4
  --color-primary-light: 194, 234, 238; // #c2eaeee8
  --color-secondary: 255, 218, 185; //#FFDAB9
  --color-secondary-light: 248, 222, 198; //#f8dec6

  --grey-dark: 211, 211, 211; //#D3D3D3
  --grey-light: 245, 245, 245; //#F5F5F5

  --color-white: 255, 255, 255;
  --color-black: #2b2b2b;

  // STYLE VARIABLES
  --shadow-dark: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1.9rem 5rem rgba(0, 0, 0, 0.09);

  // FONT VARIABLES
  --default-font: 1.7rem; /// 1.6rem = 22px

  // GRID VARIABLES
  --grid-width: 114rem; // 1,596PX
  --gutter-vertical: 8.5rem; // MARGIN BOTTOM
  --gutter-horizontal: 6rem; // MARGIN RIGHT
}
